!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*$py.class
*.egg
*.egg-info/
*.py[cod]
.Python
.eggs/
.idea/
.installed.cfg
.vscode/*
MANIFEST
__pycache__/
build/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
lib/
lib64/
parts/
pip-wheel-metadata/
reports/
sdist/
share/python-wheels/
var/
venv/
wheels/
