repos:

  - repo: meta
    hooks:
      - id: check-hooks-apply
        priority: 0
      - id: check-useless-excludes
        priority: 0

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
        priority: 0
      - id: check-merge-conflict
        priority: 0
      - id: check-vcs-permalinks
        priority: 0
      - id: name-tests-test
        files: ^tests\/test_(unit|integration)\/.*\.py$
        args: [--django]
        priority: 0
      - id: detect-private-key
        priority: 0
      - id: end-of-file-fixer
        priority: 1
      - id: fix-byte-order-marker
        priority: 2
      - id: trailing-whitespace
        priority: 3

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: uv.lock
        args: [-w]
        priority: 4

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.16.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --indent, '2', --preserve-quotes, --offset, '2']
        priority: 5

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.25
    hooks:
      - id: uv-lock
        priority: 5

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-format
        priority: 5
      - id: ruff-check
        args: [--fix]
        priority: 6

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-toml]
        priority: 7
