include README.rst LICENSE requirements.txt requirements-test.txt requirements-dev.txt requirements-doc.txt
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude docs *
recursive-exclude tests *
prune docs*
prune tests*
