[tool.isort]
profile = "black"
multi_line_output = 3

[tool.black]
line-length = 120
target-version = ['py27', 'py35', 'py36', 'py37', 'py38', 'py39', 'py310']
include = '\.pyi?$'
exclude = '''(\.eggs|\.git|\.mypy_cache|\.tox|\.venv|_build|buck-out|build|dist)'''

[tool.mypy]
follow_imports = "silent"
ignore_missing_imports = true
pretty = true
show_error_codes = true
strict_optional = true
